{% extends 'base.html.twig' %}

{% block title %} About Us | {{ parent() }}{% endblock %}

{% block central %}
<h1>{{ wish.title }}</h1>
<strong>{{ wish.categ.name }}</strong>
<h3>{{ wish.dateCreated|date('d/m/Y H:i') }}</h>  
 <p>
    {{ wish.description }}
 </p> 
   <br><br><br>
{% endblock %}
